{
	default_sni nextcloud.example.com

	servers {
		strict_sni_host insecure_off
	}
}

http:// {
	root * /var/www/html

	log {
		output file /data/caddy.log
		format json
	}

	@forbidden {
		path /.htaccess
		path /.xml
		path /3rdparty/*
		path /README
		path /config/*
		path /console.php
		path /data/*
		path /db_structure
		path /lib/*
		path /occ
		path /templates/*
		path /tests/*
	}
	respond @forbidden 404

	file_server

	php_fastcgi nextcloud:9000 {
		root /var/www/html
		env front_controller_active true
	}
	encode gzip

	header {
		Strict-Transport-Security "max-age=15768000;includeSubDomains;preload"
	}

	redir /.well-known/carddav /remote.php/dav 301
	redir /.well-known/caldav /remote.php/dav 301
}

https:// {
	tls internal {
		on_demand
	}
	root * /var/www/html

	log {
		output file /data/caddy.log
		format json
	}

	@forbidden {
		path /.htaccess
		path /.xml
		path /3rdparty/*
		path /README
		path /config/*
		path /console.php
		path /data/*
		path /db_structure
		path /lib/*
		path /occ
		path /templates/*
		path /tests/*
	}
	respond @forbidden 404

	file_server

	php_fastcgi nextcloud:9000 {
		root /var/www/html
		env front_controller_active true
	}
	encode gzip

	header {
		Strict-Transport-Security "max-age=15768000;includeSubDomains;preload"
	}

	redir /.well-known/carddav /remote.php/dav 301
	redir /.well-known/caldav /remote.php/dav 301
}